body
	&.portfolio
		#portfolio-galleries
			max-width none
			margin-top 100px

			ul
				padding-left 0

				li
					display inline-block
					width 33%

					.portfolio-gallery-thumbnail
						width 100%

						.inner-padding
							padding-bottom 133%

					h2
						width 100%
						margin 20px 0
						font-size 1.4rem
						letter-spacing 0.12rem
						text-align center