body.portfolio #portfolio-galleries {
  max-width: none;
  margin-top: 100px;
}
body.portfolio #portfolio-galleries ul {
  padding-left: 0;
}
body.portfolio #portfolio-galleries ul li {
  display: inline-block;
  width: 33%;
}
body.portfolio #portfolio-galleries ul li .portfolio-gallery-thumbnail {
  width: 100%;
}
body.portfolio #portfolio-galleries ul li .portfolio-gallery-thumbnail .inner-padding {
  padding-bottom: 133%;
}
body.portfolio #portfolio-galleries ul li h2 {
  width: 100%;
  margin: 20px 0;
  font-size: 1.4rem;
  letter-spacing: 0.12rem;
  text-align: center;
}
