/* colors */

$white = rgb(255,255,255)
$white_alpha(a) = rgba(255,255,255,a)
$purple = #3333cc
$orange = #ff6600
$magenta = #9900cc
$green = #006600
$red = #cc0033
$grey = #656565
$black = #000
$colorscheme = #5780a7

/* typefaces */

$jenson = 'adobe-jenson-pro', serif
$pragmatica = 'pragmatica', sans-serif